doctype html

html
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="/style.css")
		title SSR Implementation
	body
		div
			div(class="text")
				h1 Тестовое задание от SGS Vostok Limited
			div(class="text")
				h2 Initial Page
			div(class="text")
				p(class="tab") Честно, мне очень хочется доказать, что я неплохой кандидат на вакансию. Поэтому подумал, что неплохо было бы сделать имплементацию тестового задания чисто за счет серверного рендеринга, будто в старом вебе очутились и не существует JS'а на клиенте или, допустим, у нас i2p сервис какой-то. Верстка будет простоватой, боюсь сильно задержать сдачу задания.
				p(class="tab") Правда, из-за этого есть небольшая особенность, т.к. ЖСа нет, то, выбрав/введя в любое поле или во все поля ввода (Город, Цех, Сотрудник) значение, необходимо будет нажать на сабмит "Выбрать", чтобы обновить страницу и данные на ней( выпадающие, доступные элементы для ввода).
				p(class="tab") Изначально страница будет содержать все доступные города, чтобы получить остальное, необходимо будет выбрать/ввести значение в поле и засабмитить, нажав enter или кликнув по "Выбрать", и так далее.
				p(class="tab") Да, я понимаю, что немного отхожу от подразумеваемого ТЗ, но во <a href="/vue">/vue</a> всё будет так, как подразумевается. Ведь тестовое задание размыто на мой взгляд и позволяет выполнить его разными способами, либо мне нравится работать бесплатно, но очевидно, что дело в опыте...
		br
		br
		div
			h1 Реализации задания
		div
			div(class="text")
				h2 <a href="/no-js-app">/no-js-app</a> Server-Side Rendering
				h2 <a href="/vue-app">/vue-app</a>  Client-Side Rendering
