
			<div class="text">
				<p>Выберите/введите значение в любое/любые поле/поля и отправьте форму.</p>
			</div>
		</div>
		<div>
			<div>
				<form action="/no-js-app">
					<div>

						<%- 
							
							include('matches/formInput', {
								titleText: 'Город'
								,listName: 'cities'
								,formInputName: 'city' 
								,dataListOptions: cities
								,dataExamples: cityExamples
							})

						%>

						<%- 
							
							include('matches/formInput', {
								titleText: 'Цех'
								,listName: 'plantShops'
								,formInputName: 'plantShop' 
								,dataListOptions: plantShops
								,dataExamples: plantShopExamples
							})

						%>

						<%- 
							
							include('matches/formInput', {
								titleText: 'Рабочий'
								,listName: 'emploees'
								,formInputName: 'emploee' 
								,dataListOptions: emploees
								,dataExamples: emploeeExamples
							})

						%>

						<input type="submit" value="Отправить">
					</div>
				</form>
			</div>

			<div>
				<h2>Output</h2>
				<p>table</p>
			</div>
		</div>	
